# Angular / Node
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ler
na-debug.log*
# Compiled output
.angular/
angular-*
angular/

dist/
tmp/
out-tsc/
.env
.env.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db
