
.row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.row mat-form-field {
  flex: 1;
}

textarea.mat-input {
  min-height: 100px;
}

.two-column-layout {
  display: flex !important;
  gap: 20px !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: flex-start !important;
}
.full-width {
  width: 100% !important;
}

.dialog-title {
  padding: 0px 30px !important;
 }

.create-case-container{
  background-color: var(--bg-color) !important;
}
.mat-mdc-dialog-surface{
  border-radius: 5px !important;
}


