
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f5f5f500 !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
  background-color: #ffffff00 !important;
}

.mdc-text-field--focused {
  background-color: #ffffff00 !important;
  box-shadow: none !important;
}

.mat-mdc-form-field-focus-overlay {
  background: transparent !important;
}

.mat-drawer {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
/* DEFINICAO DE DARKMODE GERAL */
:root {
  --primary-color: #f4f7fa !important;
  --accent-color: #e91e63;
  --warn-color: #f44336;
  --success-color: #2a8e00;
  --bg-color: #ffffff;
  --bgd-color: #ffffff;
  --text-color: #414141ec;
  --text-color-light: #fafafaec;
  --box-shadow: 0 2px 4px rgba(223, 47, 47, 0.623);
  --border-case: none;
  --color-icon: #333333b6;
  --table-border: #aaaaaa5c;
  --table-header: #118ab2;
  --border-table: #ccc;
  --navbar-color: #073b4c;
  --navbar-text-color: #2a2a2a;
  --sidebar-color: #f5f5f5;
  --sidebar-bg-color: #118ab2;
  --sidebar-text-color: #ffffff;
}
.mdc-list-item__primary-text {
  color: #fff !important;
}
.dark-theme {
  --primary-color: #e2f2ff34 !important;
  --accent-color: #f48fb1;
  --warn-color: #ef9a9a;
  --success-color: #2a8e00;
  --bg-color: #2e2e2e;
  --bgd-color: #2e2e2e;
  --text-color: #bbbbbb;
  --text-color-light: #272727;
  --box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  --border-case: #e2f2ff34;
  --color-icon: #929292c0;
  --table-border: #ccc;
  --table-header: #303030;
  --border-table: #ccc;
  --navbar-color: #333;
  --navbar-text-color: #fff;
  --sidebar-text-color: #ffffff;
  --sidebar-color: #2e2e2e;
  --sidebar-bg-color: #2e2e2e;
}
/* FIM */ 

html, body { 
  height: 100%; 
  overflow-x: hidden; 
  margin: 0; 
  font-family: Roboto, 
  "Helvetica Neue", 
  sans-serif;  
}

.dark-toggle mat-icon {
  color:var(--text-color) !important;
}
.success-snackbar {
  background-color: #4CAF50 !important;
  color: white !important;
  font-weight: bold;
}

.error-snackbar {
  background-color: #F44336 !important;
  color: white !important;
  font-weight: bold;
}


.case-button{
  background-color: #06d6a0!important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  margin: 10px !important;
  border-radius: 4px !important;
  cursor: pointer;
}
.case-button-cancel{
  background-color: #5cb85c !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 4px !important;
  cursor: pointer;
}
.case-button-delete{
  background-color: #fb4e4e !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  margin: 10px !important;
  border-radius: 4px !important;
  cursor: pointer;
}
body {
  color: var(--text-color);
}

.custom-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

mat-icon{
  color: var(--text-color) !important;
}
/* ALERT LOGS */

.error-snackbar {
  background-color: #e53935;
  color: white;
}

.success-snackbar {
  background-color: #43a047;
  color: white;
}


.mat-mdc-dialog-container{
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  border-radius: 6px !important;
  
}
